<div class="site-section site-blocks-2">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-7 site-section-heading text-center pt-4">
                <h2>Featured Products</h2>
            </div>
        </div>
        <div class="row" id="product-content">
            
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init aos-animate" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/1">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/5cac5df9-3547-4831-9ece-a345387971bd.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">HP Laptop</span>
                            <h3>Computers</h3>
                            <h6>€ 499.99</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init aos-animate" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/3">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/5cac5df9-3547-4831-9ece-a345387971bd.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">I-Phone 7</span>
                            <h3>Smartphone</h3>
                            <h6>€ 299.99</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init aos-animate" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/4">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/5cac5df9-3547-4831-9ece-a345387971bd.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Samsung S9</span>
                            <h3>Smartphone</h3>
                            <h6>€ 1000.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init aos-animate" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/7">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/5cac5df9-3547-4831-9ece-a345387971bd.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Honor 10</span>
                            <h3>Smartphone</h3>
                            <h6>€ 400.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init aos-animate" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/8">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Chair</span>
                            <h3>Chair</h3>
                            <h6>€ 20.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init aos-animate" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/9">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Audi A9</span>
                            <h3>Car</h3>
                            <h6>€ 8000.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init aos-animate" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/10">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">1</span>
                            <h3>Computers</h3>
                            <h6>€ 1.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init aos-animate" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/11">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">1</span>
                            <h3>Computers</h3>
                            <h6>€ 1.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init aos-animate" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/12">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">1</span>
                            <h3>Computers</h3>
                            <h6>€ 1.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/13">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">1</span>
                            <h3>Computers</h3>
                            <h6>€ 1.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/14">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">1</span>
                            <h3>Computers</h3>
                            <h6>€ 1.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/15">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">2</span>
                            <h3>Computers</h3>
                            <h6>€ 2.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/16">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">3</span>
                            <h3>Computers</h3>
                            <h6>€ 3.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/17">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">4</span>
                            <h3>Computers</h3>
                            <h6>€ 4.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/18">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/1911d6d8-2366-408e-a969-06f369dc6513.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Test Product</span>
                            <h3>Smartphone</h3>
                            <h6>€ 4.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/19">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/d49e4ce5-285a-49fd-a400-193c054fb674.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Test Product 1</span>
                            <h3>Computers</h3>
                            <h6>€ 12.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/20">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/d49e4ce5-285a-49fd-a400-193c054fb674.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Test Product 2</span>
                            <h3>Computers</h3>
                            <h6>€ 12.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/21">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/d49e4ce5-285a-49fd-a400-193c054fb674.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Test Product 78</span>
                            <h3>Computers</h3>
                            <h6>€ 12.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/22">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/d49e4ce5-285a-49fd-a400-193c054fb674.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Test Product 4</span>
                            <h3>Computers</h3>
                            <h6>€ 120.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/23">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/d49e4ce5-285a-49fd-a400-193c054fb674.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">testing a prod</span>
                            <h3>Computers</h3>
                            <h6>€ 1234.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/24">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/d49e4ce5-285a-49fd-a400-193c054fb674.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Test Product 19</span>
                            <h3>Computers</h3>
                            <h6>€ 1.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/25">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/5cac5df9-3547-4831-9ece-a345387971bd.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">asda</span>
                            <h3>Computers</h3>
                            <h6>€ 11.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/26">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/533bd2d9-0f3a-4f83-be64-1f55a464785c.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Prashant's product</span>
                            <h3>Car</h3>
                            <h6>€ 10000.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/27">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/bad23b4f-085e-403a-a49f-e2089e92e5b9.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Live product test</span>
                            <h3>Car</h3>
                            <h6>€ 100000.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/28">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/5dfab766-1141-481a-aaa8-d5ed0f62475d.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">asdasda</span>
                            <h3>Computers</h3>
                            <h6>€ 123.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/29">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/5dfab766-1141-481a-aaa8-d5ed0f62475d.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Test Product 1</span>
                            <h3>Computers</h3>
                            <h6>€ 12.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/30">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/5dfab766-1141-481a-aaa8-d5ed0f62475d.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">asdad</span>
                            <h3>Computers</h3>
                            <h6>€ 12.0</h6>
                        </div>
                    </a>
                </div>
            
                <div class="col-sm-6 col-md-6 col-lg-4 mb-4 mb-lg-0 items-display aos-init" data-aos="fade" data-aos-delay="">
                    <a class="block-2-item" href="/product/detail/31">
                        <figure class="image">
                            <img src="http://35.200.224.144:8080/images/5917bbf7-e9db-4ec6-9b4d-0c2f262a2f77.jpg" alt="" class="img-fluid">
                        </figure>
                        <div class="text">
                            <span class="text-uppercase">Macbook</span>
                            <h3>Computers</h3>
                            <h6>€ 500.0</h6>
                        </div>
                    </a>
                </div>
            
        </div>
    </div>
</div>